@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav.navbar {
  background-color: #957f4f;
  height: 100px;
}
.navbar .logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50%;
}
.navbar .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 6px #0b0b0b;
}
.navbar .logo img:hover {
  transform: scale(1.1);
}
.navbar a.navbar-brand {
  /* margin-left: 32rem; */
  display: flex;
  font-size: 19px;
  color: #fff;
  text-shadow: 0px 0px 2px #fff;
}
.navbar form.form {
  display: flex;
  gap: 10px;
  margin-left: 80px;
}
.navbar form.form input.form-control {
  width: 450px;
  height: 40px;
}
.navbar form.form input.form-control:active {
  outline: transparent;
  box-shadow: transparent;
}
.navbar form.form input.form-control::placeholder {
  color: #4f759b;
}
button.search-btn {
  position: relative;
  width: 40px;
  right: 56px;
  border: none;
  color: #4f759b;
  background-color: transparent;
  z-index: 1;
}
button.search-btn:hover {
  border: none;
  background-color: transparent;
  color: #4f759b;
}
.linkPart {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}
.navbar button.buy {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #4f759b;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 6px #0b0b0b;
  transition: all 0.3s ease-in;
}
.navbar button.buy:hover {
  transform: scale(1.1);
}
.navbar button.buy i {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.navbar button.login {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #4f759b;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 6px #0b0b0b;
  transition: all 0.3s ease-in;
}
.navbar button.login:hover {
  transform: scale(1.1);
}
.navbar button.login i {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.navbar button.buy:hover {
  background-color: #4f759b;
  color: #fff;
}
.navbar button.login:hover {
  background-color: #4f759b;
  color: #fff;
}
#carouselExampleAutoplaying {
  margin-top: 60px;
  box-shadow: 0px 5px 10px #1e293b;
}
#carouselExampleAutoplaying img.carousel-img {
  background-size: cover;
  backdrop-filter: blur(10px);
  opacity: 0.6;
  border-radius: 8px;
}
h3.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 3rem;
}
.por-categoria {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.por-categoria .main-card {
  display: flex;
  height: 250px;
  width: 380px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease-in;
}
.por-categoria .main-card img {
  width: 379px;
  height: 250px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #0b0b0b;
  transition: all 0.4s ease-in;
  opacity: 0.9;
}
.por-categoria .main-card img:hover {
  opacity: 0.5;
}
.por-categoria .main-card .carousel-caption {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.mini-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mini-cards .column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.column .mini-card {
  box-shadow: 0px 0px 3px #000;
  height: 110px;
  width: 250px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.por-categoria .mini-card img {
  width: 250px;
  height: 110px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #0b0b0b;
  transition: all 0.4s ease-in;
  opacity: 0.9;
}
.column .mini-card img:hover {
  opacity: 0.5;
}
.por-categoria .mini-card .carousel-caption {
  height: 10px;
  min-width: 140px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
button.categoriaBtn {
  width: 25px;
  height: 250px;
  border: none;
  box-shadow: 0px 0px 5px #000;
  border-radius: 4px;
  background: #957f4f;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease-in;
}
button.categoriaBtn:hover {
  background-color: #786740;
}
h3.autores {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem;
}
.autores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alguns-autores {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 40px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.alguns-autores a {
  text-decoration: none;
  list-style: none;
}
.alguns-autores p {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  font-size: 18px;
  color: #212529;
}
.alguns-autores img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #000;
  transition: 0.3s ease-in;
}
.alguns-autores img:hover {
  opacity: 0.5;
}
h3.lancamentos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.lancamentos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lancamentos .cards {
  margin-left: 40px;
  width: 250px;
  height: 350px;
  cursor: pointer;
  background-color: #000;
}
.lancamentos .cards a {
  text-decoration: none;
  color: #212529;
}
.lancamentos .cards .card-body p.card-text {
  font-size: 17px;
}
.lancamentos .cards img {
  width: fit-content auto;
  min-height: 382px;
  box-shadow: 0px 0px 6px #0b0b0b;
  transition: 0.3s ease-in;
}
.lancamentos .cards img:hover {
  opacity: 0.5;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 0px 3px #fff;
  background-color: #957f4f;
  margin-top: 10rem;
  position: relative;
  bottom: 0;
  left: 0;
}
